<% @offerings.each do |offering| %>
  <tr>
    <td><%= offering.course.title %></td>
    <td><%= offering.course.department %></td>
    <td><%= offering.confirm.course_number %></td>
    <td><%= offering.crn %></td>
    <td><%= offering.section %></td>
    <td><%= offering.semester %></td>
    <td><%= offering.professor_last_name %></td>
    <td><%= offering.location %></td>
    <td><%= offering.spots_available %></td>
    <td><%= enroll_course_offerings_path %></td>
</tr>
<% end %>